[Unit]
Description=TrigaServer
After=network.target

[Service]
ExecStart=${CMAKE_INSTALL_BIN}/usr/local/bin/trigaserver
Restart=always
User=trigaserver

[Install]
WantedBy=multi-user.target
